.botao {
   width: 70.6081%;
   padding: 5%;
   font-size: 5vw;
   margin: 5.2vh auto;
   font-weight: bold;
   outline: none;
   text-align: center;
   border: 3px solid #333;   
   background-color: transparent;
   transition: 150ms;

   display: block;
}
   .botao:hover {
      background-color: #7f4782;
      border-color: transparent;
      color: #fafafa;
      transform: scale(1.06);
   }

#nivel1 { background-color: #a0cc78; }
#nivel2 { background-color: #589167; }
#nivel3 { background-color: #207561; }

#jogar {
   background-color: #7f4782;
   color: #fafafa;
}

#jogo > button {
   font-size: 2vh;
   padding: 4.6875%;
   width: 42.5%;
}

#anterior:hover, #proximo:hover, #voltar:hover {
   background-color: #333;
   color: #fafafa;
}

#anterior, #proximo, #verificar {
   position: absolute;
}

#anterior, #proximo {
   top: 78%;
}

#anterior {
   left: 5.3118%;
}

#proximo {
   left: 51.7015%;
}

#verificar {   
   top: 52.9524%;
   left: 28.6837%;
}

#verificar:hover {
   background-color: #7f4782;
   color: #fafafa;
}

/* Mobile M */
@media only screen and (min-width: 375px) {
   .botao {
      width: 61.6081%;
      padding: 5.5%;
      margin: 4.2vh auto;
      font-size: 4vw;
   }
}

@media only screen and (min-width: 425px) {
   .botao {
      padding: 4.7%;
      font-size: 3.5vw;      
      margin: 3.8vh auto;
   }

   #anterior, #proximo, #verificar {
      width: 42%;
      padding: 3.5%;
   }

   #anterior {
      left: 4.7825%;
   }

   #proximo {
      left: 53.1391%;
   }

   #verificar {   
      top: 58.6762%;
      left: 29.8823%;
   }
}

@media only screen and (min-width: 768px) {
   .botao {
      width: 35.6081%;
      padding: 2.35%;
      font-size: 2.45vw;
      margin: 3.7vh auto;
   }

   #jogo > button {
      width: 36%;
      padding: 2.4%;
      font-size: 2.4vw;
   }

   #anterior {
      left: 5.9267%;
   }

   #proximo {
      left: 57.43769%;
   }

   #verificar {   
      top: 58.1007%;
      left: 31.2675%;
   }
}

@media only screen and (min-width: 1024px) {
   .botao {
      width: 31.6081%;
      padding: 2%;
      font-size: 1.75vw;
      margin: 2.65vh auto;
   }
}

@media only screen and (min-width: 1360px) {
   .botao {
      width: 28.6081%;
      padding: 1.855%;
      font-size: 1.8vw;
      margin: 2.62vh auto;
   }

   #jogo > button {
      width: 32%;
      padding: 2.2%;
      font-size: 1.55vw;
   }

   #anterior {
      left: 4.1213%;
   }

   #proximo {
      left: 64.2933%;
   }

   #verificar {   
      top: 55.1805%;
      left: 34.0859%;
   }
}

@media only screen and (min-width: 1440px) {
   .botao {
      width: 28.6081%;
      padding: 1.855%;
      font-size: 2vw;
      margin: 4vh auto;
   }
}