@import url('quiz.css');
@import url('tela.css');
@import url('botoes.css');
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

* {
   font-family: 'Poppins', verdana, sans-serif;
   box-sizing: border-box;    
   margin: 0;
   padding: 0;  
}

body {
   overflow: hidden;   
   background-color: #58b368;
}

.conteudo {
   width: 90.5%;
   background-color: #f2f4f6;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);

   border: 2px dashed #333;
}

.nome-do-jogo {
   position: relative;
   width: calc(100% + 20px);
   color: #fafafa;
   padding: 0.35em;
   font-size: 7.5vw;
   background-color: #24252A;
   top: 10px;
   left: -10px;
   text-align: center; 
}
   .nome-do-jogo:before, .nome-do-jogo:after {
      content: '';
      position: absolute;
      bottom: -10px;
   }

   .nome-do-jogo:before {      
      left: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid #000;
      border-bottom: 5px solid transparent;
      border-top: 5px solid #000;
   }

   .nome-do-jogo:after {      
      right: 0;
      border-left: 5px solid #000;
      border-right: 5px solid transparent;
      border-bottom: 5px solid transparent;
      border-top: 5px solid #000;
   }

.titulo {
   font-size: 8vw;
}

#tela-principal {
   width: 100%;
   margin: 1.5em auto;
}

@media only screen and (min-width: 768px) {
   .nome-do-jogo {
      font-size: 4vw;
   }

   .titulo {
      font-size: 3.5vw;
   }
}

@media only screen and (min-width: 1360px) {
   .nome-do-jogo {
      font-size: 2.7vw;
   }

   .titulo {
      font-size: 2.3vw;
   }
}