.resposta input {
   padding: .85%;
   border-radius: 11px;
   border: 1px solid #333;
   outline: none;
   width: 9.5%;
   font-size: 22px;
   text-align: right;
}

.acertou {
   background-color: #a1dd70;
}

.acertouParcial {
   background-color: #facf5a;
}

.errou {
   background-color: #f30925;
}

/* QUIZ SLIDE */
.slide {
   position: absolute;
   left: 50%;
   top: 32%;
   transform: translate(-50%, -32%);
   width: 54%;
   padding: 1.2em 0;
   font-size: 4vw;

   border: 1px solid #333;
   border-radius: 5px;   

   z-index: 1;
   opacity: 0;
   transition: opacity 0.4s;
}

.slideAtual {
   opacity: 1;
   z-index: 2;
}

#quiz {
   height: 20em;
   margin: 0 -5em;
}