.acertou {
   background-color: #96C432;
}

.acertouParcial {
   background-color: #FACF5A;
}

.errou {
   background-color: #BF4733;
}

/* QUIZ SLIDE */
.slide {
   position: absolute;
   left: 50%;
   top: 32%;
   transform: translate(-50%, -32%);
   width: 85%;
   padding: 3em 0;
   font-size: 3.2vh;

   border: 1px solid #333;
   border-radius: 5px;   

   z-index: 1;
   opacity: 0;
   transition: opacity 0.4s;
}

.resposta > input {
   padding: .85%;
   border-radius: 11px;
   border: 1px solid #333;
   outline: none;
   width: 15%;
   font-size: 22px;
   text-align: right;
}

.slideAtual {
   opacity: 1;
   z-index: 2;
}

#quiz {
   height: 20em;
   margin: 0 -5em;
}

@media only screen and (min-width: 375px) {
   .slide {
      font-size: 3.8vh;
      left: 50.5%;   
   }
}

@media only screen and (min-width: 425px) {
   .slide {
      font-size: 4.2vh;
   }
}

@media only screen and (min-width: 768px) {
   .slide {
      width: 77%;
      padding: 3em 0;
      font-size: 4.8vh;
   }

   .resposta > input {
      width: 12%;
   }
}

@media only screen and (min-width: 1360px) {
   .slide {
      width: 70%;
      padding: 1.5em 0;
      font-size: 7vh;
   }

   .resposta.campos-4 {
      font-size: 5vh;
   }

   .resposta > input {
      width: 12%;
   }
}