.tela {
   text-align: center;

   width: 95%;
   margin: auto;
   
   transition: opacity 0.7s ease-in;
   opacity: 0; 
   height: 0;
   overflow: hidden;
}

.telaAtual {
   opacity: 1;
   height: auto;
}

@media screen and (min-width: 375px) {
   .telaAtual {
      height: 73vh;
   }
}

@media screen and (min-width: 425px) {
   .telaAtual {
      height: 71vh;
   }
}

@media screen and (min-width: 1360px) {
   .telaAtual {
      height: 73vh;
   }
}

@media screen and (min-width: 1440px) {
   .telaAtual {
      height: 79vh;
   }
}