.tela {
   text-align: center;

   width: 90%;
   margin: auto;
   
   transition: opacity 0.7s ease-in;
   opacity: 0; 
   height: 0;
   overflow: hidden;
}

.telaAtual {
   opacity: 1;
   height: 25em;
}