.main-container {
   width: var(--largura);
   margin: 6rem auto 2rem;
   padding: 24px;
   display: flex;
   flex-direction: column;
   border-radius: 8px;

   box-shadow:
      0 0 1px #B2B2B2CC,
      0 0 2px #B2B2B2AA,
      0 0 4px #B2B2B288,
      0 0 8px #B2B2B255;
}

.preco__total {
   text-align: right;
   margin: 3rem 0 1rem;
}